[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/podman create --init --network host --name cs16-server-net cs16-server-net
ExecStart=/usr/bin/podman start -a cs16-server-net
ExecStop=/usr/bin/podman stop -t 10 cs16-server-net
Restart=on-failure
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
