[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Container]
Image=localhost/cs16-server-net:latest
ContainerName=cs16-server-net
RunInit=true
Network=host

DropCapability=ALL
NoNewPrivileges=true

[Service]
Restart=on-failure
SuccessExitStatus=130
RestartSec=10
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
