Xft.dpi: 96
Xft.antialias: true
Xft.rgb: rgb
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: true
Xft.lcdfilter: lcddefault

!URxvt*font: -ibm-vga-normal-r-normal--16-120-96-96-c-80-iso10646-1
!URxvt*boldFont: -ibm-vga-normal-r-normal--16-120-96-96-c-80-iso10646-1

URxvt*font: xft: IBM IBM VGA 8x16
URxvt*boldFont: xft: IBM IBM VGA 8x16

URxvt*letterSpace: 0
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt.saveLines: 8192

rofi.font: IBM IBM VGA 8x16 12

! Blood Dragon Theme 600


URxvt*foreground:   #f4cfbf
URxvt*background:   #19121d
URxvt*cursorColor:  #f4cfbf

! Colors 0-15.

! black
*.color0:  #19121d
*.color8:  #aa9085

! red
*.color1:  #F79F68
*.color9:  #F79F68

! green
*.color2:  #FDC279
*.color10: #FDC279

! yellow
*.color3:  #7F5B80
*.color11: #7F5B80

! blue
*.color4:  #A96788
*.color12: #A96788

! magenta
*.color5:  #CD778D
*.color13: #CD778D

! cyan
*.color6:  #EA9695
*.color14: #EA9695

! white
*.color7:  #f4cfbf
*.color15: #f4cfbf


! ROFI
rofi.width: 24
rofi.padding: 48
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.line-margin: 0
rofi.line-padding: 1
rofi.lines: 8
rofi.columns: 2

! Use extended color schem
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #f4fcbc, argb:00000000,  argb:FFf79f68,  #19121d
! Color scheme for urgent row
rofi.color-urgent:                   argb:90000000,  #2f343f, argb:90000000,  #2f343f,  #2f343f
! Color scheme for active row
rofi.color-active:                   argb:99b0bec5,  #586e75, argb:99FFFFFF,  #FFFFFF,  #000000
! Color scheme window
rofi.color-window:                   argb:FF19121d,  #19121d, #19121d
! Separator style (none, dash, solid)
rofi.separator-style:                none
