[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/podman create --name cs16-server-lan --init --network host --cap-drop ALL --security-opt no-new-privileges cs16-server-lan
ExecStart=/usr/bin/podman start -a cs16-server-lan
ExecStop=/usr/bin/podman stop cs16-server-lan
Restart=on-failure
SuccessExitStatus=130
RestartSec=10
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
