Xft.dpi: 96
Xft.antialias: true
Xft.rgb: rgb
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

URxvt*font: xft:DejaVu Sans Mono:size=9
URxvt*letterSpace: -1
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt.saveLines: 8192

rofi.font: DejaVu Sans Mono 10

! Amber Theme

URxvt*foreground:   #e5af8e
URxvt*background:   #303030
URxvt*cursorColor:  #e5af8e

! special
*.foreground:   #e5af8e
*.background:   #303030
*.cursorColor:  #e5af8e

! black
*color0:	#1f1c1b
*color8:	#a9896e

! red
*color1:	#cc554f
*color9:	#cc554f

! green
*.color2:       #94488e
*.color10:      #94488e

! yellow
*color3:	#e76157
*color11:	#e76157

! blue
*color4:	#ec7253
*color12:	#ec7253

! magenta
*color5:	#a9896e
*color13:	#a9896e

! cyan
*color6:	#f58e54
*color14:	#f58e54

! white
*color7:	#e5af8e
*color15:	#e5af8e

! ROFI
rofi.width: 24
rofi.padding: 48
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.line-margin: 0
rofi.line-padding: 1
rofi.lines: 8
rofi.columns: 2

! Use extended color schem
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #e5af8e , argb:00000000,  argb:00000000,  #f58e54 ,
! Color scheme for urgent row
rofi.color-urgent:                   argb:90000000,  #2f343f , argb:90000000,  #2f343f ,  #2f343f
! Color scheme for active row
rofi.color-active:                   argb:99FFFFFF,  #586e75 , argb:99FFFFFF,  #FFFFFF ,  #000000
! Color scheme window
rofi.color-window:                   argb:CC303030,  #303030 ,  #303030
! Separator style (none, dash, solid)
rofi.separator-style:                none
