[Unit]
Description=Change tty colors

[Service]
Type=oneshot
ExecStart=/usr/bin/tty-colors -c /etc/tty-colors/tty-colors.conf

[Install]
WantedBy=getty.target
