[Unit]
Description=TTY Colors
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tty-colors-light

[Install]
WantedBy=multi-user.target
