[Unit]
Description=TTY Colors
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tty-colors-dark

[Install]
WantedBy=multi-user.target
