Xft.dpi: 96
Xft.antialias: true
Xft.rgb: rgb
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: true
Xft.lcdfilter: lcddefault

!URxvt*font: xft:DejaVu Sans Mono:size=9

URxvt*font: xft: IBM Plex Mono:size=10
URxvt*boldFont: xft: IBM Plex Mono:size=10

!URxvt*letterSpace: 0

URxvt*letterSpace: -1
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt.saveLines: 8192

rofi.font: IBM Plex Mono 10

! Black color that will not be affected by bold highlighting.
*.color66: #180C18
*color66:  #180C18

! Solarized Light Theme

! special
*.foreground:   #586e75
*.background:   #fdf6e3
*.cursorColor:  #586e75

! black
*.color0:       #002b36
*.color8:       #657b83

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #93a1a1
*.color15:      #fdf6e3

! ROFI
rofi.width: 24
rofi.padding: 48
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.line-margin: 0
rofi.line-padding: 1
rofi.lines: 8
rofi.columns: 2

! Use extended color schem
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #586e75 , argb:00000000,  argb:00fdf6e3,  #b58900 
! Color scheme for urgent row
rofi.color-urgent:                   argb:90000000,  #2f343f , argb:90000000,  #2f343f ,  #2f343f
! Color scheme for active row
rofi.color-active:                   argb:99FFFFFF,  #586e75 , argb:99FFFFFF,  #FFFFFF ,  #000000
! Color scheme window
rofi.color-window:                   argb:EEfdf6e3,  #fdf6e3 ,  #fdf6e3
! Separator style (none, dash, solid)
rofi.separator-style:                none
