[Unit]
Description=Arti Tor service with snowflake
After=network.target

[Service]
Type=simple
User=arti
ExecStart=/usr/bin/arti proxy -c /etc/arti/arti-snowflake.toml
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
