Xft.dpi: 96
Xft.antialias: true
Xft.rgb: rgb
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

URxvt*font: xft: IBM IBM VGA 8x16
URxvt*boldFont: xft: IBM IBM VGA 8x16
URxvt*letterSpace: 0
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt.saveLines: 8192

rofi.font: IBM IBM VGA 8x16 10

! Sky Theme 400

! special
*.foreground:   #b0bec5
*.background:   #212121
*.cursorColor:  #b0bec5

! black
*color0:  #212121
*color8:  #212121

! red
*color1:  #ab47bc
*color9:  #ab47bc

! green
*color2:  #26c6da
*color10: #26c6da

! yellow
*color3:  #29b6f6
*color11: #29b6f6

! blue
*color4:  #42a5f5
*color12: #42a5f5

! magenta
*color5:  #42a5f5
*color13: #42a5f5

! cyan
*color6:  #42a5f5
*color14: #42a5f5

! white 
*color7:  #b0bec5
*color15: #b0bec5

! Black color that will not be affected by bold highlighting.
*color66:  #212121


! ROFI
rofi.width: 24
rofi.padding: 48
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.line-margin: 0
rofi.line-padding: 1
rofi.lines: 8
rofi.columns: 2

! Use extended color schem
rofi.color-enabled:                  true

!				     "window"	     "border"  "separator"
! Color scheme for normal row
rofi.color-normal:                   argb:00000000 , #b0bec5 , argb:00000000 , argb:00ab47bc , #ab47bc

! Color scheme window
rofi.color-window:                   argb:FF212121 , #b0bec5 , #212121

! Separator style (none, dash, solid)
rofi.separator-style:                none
