Xft.dpi: 96
Xft.antialias: true
Xft.rgb: rgb
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

URxvt*font: xft: IBM IBM VGA 8x16
URxvt*boldFont: xft: IBM IBM VGA 8x16

URxvt*letterSpace: 0
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt.saveLines: 8192

rofi.font: IBM IBM VGA 8x16 12

! IBM Plex Theme

! special
*.foreground:   #b3c8e9
*.background:   #212121
*.cursorColor:  #b3c8e9

! black
*color0:  #212121
*color8:  #212121

! red
*color1:  #ba68c8
*color9:  #ba68c8

! green
*color2:  #4dd0e1
*color10: #4dd0e1

! yellow
*color3:  #4fc3f7
*color11: #4fc3f7

! blue
*color4:  #64b5f6
*color12: #64b5f6

! magenta
*color5:  #64b5f6
*color13: #64b5f6

! cyan
*color6:  #64b5f6
*color14: #64b5f6

! white 
*color7:  #ffffff
*color15: #ffffff

! Black color that will not be affected by bold highlighting.
*color66:  #212121


! ROFI
rofi.width: 24
rofi.padding: 48
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.line-margin: 0
rofi.line-padding: 1
rofi.lines: 8
rofi.columns: 2

! Use extended color schem
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #b3c8e9 , argb:00000000,  argb:FFba68c8,  #212121,
! Color scheme for urgent row
rofi.color-urgent:                   argb:90000000,  #2f343f , argb:90000000,  #2f343f ,  #2f343f
! Color scheme for active row
rofi.color-active:                   argb:99FFFFFF,  #586e75 , argb:99FFFFFF,  #FFFFFF ,  #000000
! Color scheme window
rofi.color-window:                   argb:CC212121,  #212121 ,  #212121
! Separator style (none, dash, solid)
rofi.separator-style:                none
